@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>System ewidencjonowania zużycia wody</h1>
    <h3 class="lead">Usługa dla działkowców</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nowe możliwości</h2>
        <p>
            System umożliwia wygodny i mobilny dostęp do danych na temat zużycia wody. Umożliwia szybki zapis i odczyt z dowolnego urządzenia!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Popraw jakość życia</h2>
        <p>Nigdy więcej nie martw się o szukanie starych notatek i aktualnych cen wody. System sam pobierze aktualne dane i przedstawi Ci rachunek</p>
    </div>
    <div class="col-md-4">
        <h2>Jasna przyszłość</h2>
        <p>W niedalekiej przyszłości zintegrujemy system z automatycznymi wodomierzami, tak byś mógł zapomnieć o problemach z własnoręcznym odczytem,
        Negocjujemy też z bankami aby umożliwić Ci zautomatyzowanie płatności!</p>
    </div>
</div>